.text {
    color: #141c24;
    margin-bottom: 24px;
    width: 328px;
}
.timer {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #97a1af;
}
