.primary {
    border: none;
    color: #fff;
    background: #f4511e;
}

.primary:hover {
    background: #f77340;
}

.primary:active {
    background: #e53611;
}

.default {
    background: #ffffff;
    color: #344051;
    border: 1px #ced2da solid;
}

.default:hover {
    background: #f3f4f6;
}

.default:active {
    background: #edeef1;
}

.link {
    height: fit-content;
    padding: 0;
    margin-top: 16px;
    border: none;
    gap: 16px;
    background-color: transparent;
    color: #637083;
}

.link:hover {
    color: #556074;
}

.link:active {
    color: #464f5e;
}
