.arr {
    border-radius: 16px;
    background-color: #edeef1;
    height: 36px;
    padding: 2px;
    display: flex;
    position: relative;
    margin: 16px 0;
    align-items: center;
    justify-content: space-between;
}

.el_input {
    appearance: none;
}


.el_label {
    display: block;
    text-align: center;
    padding: 8px 0;
    flex: 1 1 0;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #637083;
}

.el_label:hover {
    cursor: pointer;
}

.el_input:checked + .el_label {
    background-color: #ffffff;
    color: #141C24;
}