.block{
    display: flex;
    flex-direction: column;
    padding:24px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 16px;
    margin-bottom: 24px;
}
.lower{
    display: flex;
    justify-content: center;
    gap:24px;
    flex: 1 1 0;
}

.modal{
    color:#141C24;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
}