.block {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 16px;
    margin-bottom: 24px;
}

.lower {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.modal {
    color: #141c24;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.section {
    width: 100%;
}

.section_title {
    color: #637083;
    font-size: 12px;
}

.buttons {
    display: flex;
    gap: 24px;
}
@media (max-width: 426px) {
    .buttons {
        flex-direction: column;
    }
}
