.header_line{
    border-bottom: 1px solid #ced2da;
}

.page_header {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.block {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #344051;
    font-weight: 500;
}

.block:hover {
    color: #F4511E;
    cursor: pointer;
}

@media (max-width: 1019px) {
    .left,
    .right {
        gap: 30px;
    }
}

@media (max-width: 700px) {
    .left,
    .right {
        gap: 20px;
    }

    .link {
        display: none;
    }

    .block:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        width: 44px;
        height: 44px;
    }
}
