.status {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.indicator {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
}

.green {
    background-color: #40bf7f;
}

.red {
    background-color: #f64c4c;
}

.yellow {
    background-color: #ffb219;
}
