.card {
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    position: relative;
}

.img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

.description {
    width: 100%;
    margin-bottom: 32px;
    color: #535353;
    height: 72px;
}

.price {
    width: 100%;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

@media (max-width: 700px) {
    .card {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .img {
        width: 120px;
        height: 120px;
        margin: 0;
    }

    .inf {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        gap: 8px;
    }

    .description {
        height: auto;
        margin: 0;
        font-size: 12px;
    }

    .price {
        margin: 0;
        font-size: 16px;
    }

    .button {
        display: none;
    }
}
