.card {
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    position: relative;

    .description {
        display: flex;
    }
}

.img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

.description {
    width: 100%;
    margin-bottom: 32px;
    color: #535353;
    height: 72px;
}

.price {
    width: 100%;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
